* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecedf3;
}

.englobaCabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #025492;
}

.cabecalho a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: #f3f3f3;
    text-decoration: none;
}

.cabecalho a img {
    height: 5rem;
}

.container {
    padding: 1rem 1.5rem;
}

.versoes {
    width: 100%;
}

.versoes span {
    font-size: 2.4rem;
    font-weight: bold;
    color: #025492;
    width: 100%;
    text-align: center;
    display: block;
}

.versoes ul {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    height: 4rem;
}

.versoes ul::-webkit-scrollbar {
    height: 1rem;
}

.versoes ul::-webkit-scrollbar-thumb {
    background-color: #f8bf0f;
    border-radius: 1rem;
}

.versoes li {
    list-style: none;

}

.versoes button {
    background-color: #025492;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

.tituloCaixa {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}

#btnFiltrosLivros {
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid #a3a3a3;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: bold;
}

#btnFiltrosLivros img {
    width: 2rem;
}

#filtrosLivros {
    display: none;
}

#inputIcone {
    position: relative;
}

#buscaLivro {
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
}

#imgLupa {
    width: 2.4rem;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
}

.livros {
    padding: 1.5rem;
    margin-top: 1rem;
    border:0.1rem solid #a3a3a3;
    border-radius: 1.5rem;
}

.livros li {
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.livros li a {
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    display: block;
}


.livrosAntigoTestamento li {
    background-color: #025492;
}

.livrosNovoTestamento a:visited{
    color: #025492;
}

.livrosAntigoTestamento a, 
.livrosAntigoTestamento a:visited {
    color: #f8bf0f;
}

.livrosNovoTestamento li {
    background-color: #f8bf0f;
}

.capitulos {
    border:0.1rem solid #a3a3a3;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.grupoCapitulos {
    display: flex;
    gap: 1.5rem;
    flex-wrap:wrap;
    justify-content: center;
}

.grupoCapitulos a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #025492;
    color: #fff;
    height: 4rem;
    width: 4rem;
    text-decoration: none;
}

.conteudo {
    /* altura da tela - cabeçalho - rodapé - padding - sidebar - btn-filtros */
    min-height: calc(100vh - 7rem - 6rem - 6rem - 7.7rem - 5.3rem);
    margin:2rem 0;
    padding: 0 4rem;
    text-align: justify;
    line-height: 2.2rem;
}

.centralizarRodaPe {
    width: 100%;
    background-color: #025492;
    color:darkgray;
    font-size: 1.2rem;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.rodape img {
    height: 4rem;
}

#github a{
    display: flex;
    align-items: center;
    color:darkgray;
    text-decoration: none;
}

@media screen and (min-width:1024px) {

    .versoes button:hover {
        cursor: pointer;
        background-color: #f8bf0f;
        color: #025492;
    }


    #btnFiltrosLivros{
        display: none;
    }

    #filtrosLivros {
        display: block;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 102.4rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .englobaCabecalho {
        height: 5rem;
    }

    .cabecalho {
        display: flex;
        align-items: center;
        height: 5rem;
        width: 102.4rem;
        padding-left: 1.5rem;        
    }

    .cabecalho a img {
        height: 3.5rem;
    }

    .cabecalho a h1 {
        font-size: 2.4rem;
    }

    .conteudo {
        /* altura da tela - cabeçalho - rodapé - padding*/
        min-height: calc(100vh - 5rem - 6rem - 2rem);
        margin: 0;
    }

    .livrosAntigoTestamento li:hover {
        background-color: #f8bf0f;
    }
    
    .livrosAntigoTestamento li:hover a {
        color: #025492;
    }

    .livrosNovoTestamento li:hover {
        background-color: #025492;
    }
    
    .livrosNovoTestamento li:hover a {
        color: #f8bf0f;
    }

    .rodape {
        width: 102.4rem;
        justify-content: space-between;
    }

    .centralizarRodaPe {
        display: flex;
        justify-content: center;
    }

}


@keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  








