* { 
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}

.centralizarCabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #025492;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: #f3f3f3;
}

.cabecalho img {
    height: 5rem;
}

.container {
    padding: 1rem 1.5rem;
}

.versoes {
    width: 100%;
}

.versoes span {
    font-size: 2.4rem;
    font-weight: bold;
    color: #025492;
    width: 100%;
    text-align: center;
    display: block;
}

.versoes ul {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    height: 4rem;
}

.versoes ul::-webkit-scrollbar {
    height: 1rem;
}

.versoes ul::-webkit-scrollbar-thumb {
    background-color: #f8bf0f;
    border-radius: 1rem;
}

.versoes li {
    list-style: none;

}

.versoes button {
    background-color: #025492;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

#buscaLivro {
    margin-top: 1rem;
}

#filtros {
    display: none;
}

.conteudo {
    /* altura da tela - cabeçalho - rodapé - padding - sidebar */
    min-height: calc(100vh - 7rem - 6rem - 4rem - 7.7rem);
    margin:1rem 0;

}

.centralizarRodaPe {
    width: 100%;
    background-color: #025492;
    color:darkgray;
    font-size: 1.2rem;
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.rodape img {
    height: 4rem;
}

#github a{
    display: flex;
    align-items: center;
    color:darkgray;
    text-decoration: none;
}













